body {
    margin: 50px;
    font-family: 'Trebuchet MS', sans-serif;
}

.header {
    background-color: #0079C6; /* Cor do cabeçalho */
    color: white;
    padding: 15px;
}

.container {
    display: flex; /* Usando flexbox para dividir em duas colunas */
    padding: 0px;
}

.left {
    flex: 1; /* Lado esquerdo ocupa 1 parte do espaço */
    padding: 10px;
    box-sizing: border-box; /* Inclui o padding no total da largura */
    background-color: #CDE4F4; /* Cor do lado esquerdo */
}

.right {
    flex: 2; /* Lado direito ocupa 2 partes do espaço */
    padding: 10px;
    box-sizing: border-box; /* Inclui o padding no total da largura */
    background-color: #FFFFFF; /* Cor do lado direito */
}

.conteudo {
    max-width: 1000px;     
    margin: 0 auto; 
    padding: 0px;        
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}